n8n-nodes/rag-query-workflow.json
{
  "name": "RAG Knowledge Base Query",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8100/query",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "What is machine learning?"
            },
            {
              "name": "collection",
              "value": "default"
            },
            {
              "name": "top_k",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-node",
      "name": "Query RAG System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract and format the response\nconst response = $input.item.json;\n\nreturn {\n  query: response.query,\n  answer: response.answer || 'No answer generated',\n  documents: response.documents || [],\n  documentCount: response.documents?.length || 0,\n  metadata: {\n    collection: response.collection_name,\n    top_k: response.top_k,\n    min_similarity: response.min_similarity\n  }\n};"
      },
      "id": "code-node",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Query RAG System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query RAG System": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-20T12:00:00.000Z",
  "versionId": "1"
}
